/* Paleta personalizada WinToWin */
:root {
  --theme-primary: #01232e; /* Azul petróleo */
  --theme-secondary: #00ffd1; /* Verde/azul neón */
  --theme-bg-light: #fcefe7; /* Fondo claro */
  --theme-bg-dark: #061929; /* Fondo oscuro */
  --theme-accent: #fff1e9; /* Texto / acento */
}

/* General */
body {
  background-color: var(--theme-bg-dark);
  color: var(--theme-accent);
  font-family: 'Inter', sans-serif;
}

.view-container {
  padding: 0 var(--gutter-h);
}
