@import 'tailwindcss';
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #f8fafc; /* gris azulado muy claro, fondo general */
  --color-fg: #1e293b; /* gris-azul oscuro, texto principal */
  --color-card: #ffffff; /* tarjetas sobre el fondo gris, aún con un poco de blanco */
  --color-primary: #2563eb; /* azul principal */
  --color-border: #cbd5e1; /* borde gris claro */
  --color-muted: #e2e8f0; /* fondos sutiles para inputs o secciones */
}

html {
  --color-bg: #f8fafc; /* gris azulado muy claro, fondo general */
  --color-fg: #1e293b; /* gris-azul oscuro, texto principal */
  --color-card: #ffffff; /* tarjetas sobre el fondo gris, aún con un poco de blanco */
  --color-primary: #2563eb; /* azul principal */
  --color-border: #cbd5e1; /* borde gris claro */
  --color-muted: #e2e8f0; /* fondos sutiles para inputs o secciones */
}

html.dark {
  --color-bg: #0e1524;
  --color-fg: #e5e7eb;
  --color-card: #0f141a;
  --color-primary: #60a5fa;
  --color-border: #28303a;
  color-scheme: dark;
}

html {
  opacity: 1;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

html.dark {
  opacity: 1;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

.add-action {
  display: none;
}

.svg-wrapper > svg {
  @apply mx-auto;
}
